Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
	"*.{css,html,js,json,md,yaml,yml}": "prettier --write",
	"*.{ts,tsx}": "eslint --ext .ts,.tsx --fix"
}

fix: mobile dialog
  src/lib/components/dialog/dialog.module.css
Due: prettier --write

fix: mobile dialog (#184)
  src/lib/components/dialog/dialog.module.css
Due: prettier --write

Notes added by 'git notes add'
  b1503b65b6bb9dc375bfce51a000d3919e0fc423
Due: none

fix: webkit appearance
  src/docs/pages/overview/dojo.module.css
  src/lib/components/button/button.module.css
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/menu/menu.module.css
  src/lib/components/nav/nav.module.css
  src/lib/components/radioset/radioset.module.css
  src/lib/style.css
Due: prettier --write

fix: webkit appearance (#185)
  src/docs/pages/overview/dojo.module.css
  src/lib/components/button/button.module.css
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/menu/menu.module.css
  src/lib/components/nav/nav.module.css
  src/lib/components/radioset/radioset.module.css
  src/lib/style.css
Due: prettier --write

Notes added by 'git notes add'
  d4dfabdee7fb2dcd645921108f0569869b908b89
Due: none

fix: scrolling
  src/docs/pages/examples/dialog/index.tsx
  src/docs/pages/examples/dialog/state.tsx
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/button.module.css
  src/lib/components/dialog/dialog.module.css
  src/lib/components/dialog/dialog.tsx
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/header/header.module.css
  src/lib/components/main/main.module.css
  src/lib/components/nav/nav.module.css
  src/lib/style.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: scrolling (#186)
  src/docs/pages/examples/dialog/index.tsx
  src/docs/pages/examples/dialog/state.tsx
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/button.module.css
  src/lib/components/dialog/dialog.module.css
  src/lib/components/dialog/dialog.tsx
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/header/header.module.css
  src/lib/components/main/main.module.css
  src/lib/components/nav/nav.module.css
  src/lib/style.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  2ef9f8b439985bee451f48eb7b750f6341cccfcf
Due: none

fix: checkbox wrap
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/dialog/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: checkbox wrap (#187)
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/dialog/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  1fe712b75b589ed68240d9a24339a0ed74d0ac40
Due: none

docs: share button
  src/docs/app.tsx
Due: eslint --ext .ts,.tsx --fix

docs: share button (#188)
  src/docs/app.tsx
Due: eslint --ext .ts,.tsx --fix

docs: fix refresh prompt
  src/docs/app.tsx
  src/docs/components/refresh-prompt.tsx
  src/docs/components/reload-prompt.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: fix refresh prompt (#189)
  src/docs/app.tsx
  src/docs/components/refresh-prompt.tsx
  src/docs/components/reload-prompt.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: tagline
  README.md
  src/docs/app.tsx
  src/docs/pages/overview/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs: tagline (#190)
  README.md
  src/docs/app.tsx
  src/docs/pages/overview/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  7c113badcfdbecb7315b980e6792fe30e3ffec99
Due: none

build: bump vite from 2.7.13 to 2.8.0
  CONTRIBUTING.md
  package-lock.json
  package.json
  playwright.config.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: bump vite from 2.7.13 to 2.8.0 (#199)
  CONTRIBUTING.md
  package-lock.json
  package.json
  playwright.config.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: responsive nav
  package-lock.json
  src/docs/app.tsx
  src/docs/components/logo.module.css
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/overview/dojo.module.css
  src/docs/pages/overview/index.tsx
  src/lib/components/article/article.module.css
  src/lib/components/article/index.tsx
  src/lib/components/aside/aside.module.css
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.spec.ts
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/dialog/dialog.module.css
  src/lib/components/header/header.module.css
  src/lib/components/input/text.tsx
  src/lib/components/main/main.module.css
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.module.css
  src/lib/components/menu/menu.tsx
  src/lib/components/nav/button.tsx
  src/lib/components/nav/index.tsx
  src/lib/components/nav/nav.module.css
  src/lib/hooks/drawer-open.ts
  src/lib/hooks/min-width.ts
  src/lib/hooks/split-children.ts
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: responsive nav (#241)
  package-lock.json
  src/docs/app.tsx
  src/docs/components/logo.module.css
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/overview/dojo.module.css
  src/docs/pages/overview/index.tsx
  src/lib/components/article/article.module.css
  src/lib/components/article/index.tsx
  src/lib/components/aside/aside.module.css
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.spec.ts
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/dialog/dialog.module.css
  src/lib/components/header/header.module.css
  src/lib/components/input/text.tsx
  src/lib/components/main/main.module.css
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.module.css
  src/lib/components/menu/menu.tsx
  src/lib/components/nav/button.tsx
  src/lib/components/nav/index.tsx
  src/lib/components/nav/nav.module.css
  src/lib/hooks/drawer-open.ts
  src/lib/hooks/min-width.ts
  src/lib/hooks/split-children.ts
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  71ed030e34688711334fe0b92c1bc3a89f69878d
Due: none

fix: checkbox hover
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: checkbox hover (#242)
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  0405ebf9bc7f19c72b0e0b9c507602d4fe4740f9
Due: none

fix: colorScheme
  package-lock.json
  package.json
  src/docs/head.ts
  src/lib/color-scheme/index.ts
  src/lib/components/menu/index.ts
  src/lib/index.ts
  tsconfig-color-scheme.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: colorScheme (#245)
  package-lock.json
  package.json
  src/docs/head.ts
  src/lib/color-scheme/index.ts
  src/lib/components/menu/index.ts
  src/lib/index.ts
  tsconfig-color-scheme.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  82653b7c26623dfc80c13d3e106d824dbbd4f9a9
Due: none

fix: missing color-scheme css
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: missing color-scheme css (#246)
  .github/workflows/release.yml
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e63d2064f1b965080303e68917f3f2491e2ec23a
Due: none

feat: warning message
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/color-scheme/default.css
  src/lib/color-scheme/enterprise.css
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/password.tsx
  src/lib/components/input/text.tsx
  src/lib/components/tooltip.tsx/index.tsx
  src/lib/components/tooltip.tsx/tooltip.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: warning message (#270)
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/color-scheme/default.css
  src/lib/color-scheme/enterprise.css
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/password.tsx
  src/lib/components/input/text.tsx
  src/lib/components/tooltip.tsx/index.tsx
  src/lib/components/tooltip.tsx/tooltip.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  b8c4491273d4b78b5d077365471a9340a8fb697b
Due: none

build(deps-dev): bump react and react-dom
  package-lock.json
  package.json
  src/docs/app.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: dependencies
  .npm-upgrade.json
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
