Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
	"*.{css,html,js,json,md,yaml,yml}": "prettier --write",
	"*.{ts,tsx}": "eslint --ext .ts,.tsx --fix"
}

fix: radioset (#86)
  src/docs/app.tsx
  src/docs/pages/examples/color-scheme.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/radioset.tsx
  src/lib/components/radioset/index.tsx
  src/lib/components/radioset/radioset.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  9dbfbdb136bb1fd022254cafbd1cdca26f456ed6
Due: none

feat: layout props
  src/docs/app.tsx
  src/lib/components/article/article.module.css
  src/lib/components/article/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/index.tsx
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/footer/footer.module.css
  src/lib/components/main/index.tsx
  src/lib/components/main/main.module.css
  src/lib/components/radioset/radioset.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: layout props (#87)
  src/docs/app.tsx
  src/lib/components/article/article.module.css
  src/lib/components/article/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/index.tsx
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/footer/footer.module.css
  src/lib/components/main/index.tsx
  src/lib/components/main/main.module.css
  src/lib/components/radioset/radioset.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  4f64a375de24cea7fced5712c578cde2ca6c17a0
Due: none

feat: text input
  jest.config.mjs
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/docs/pages/examples/button.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/radioset.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/article/article.module.css
  src/lib/components/button/anchor.test.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
  src/lib/components/card/card.module.css
  src/lib/components/input/index.tsx
  src/lib/components/input/input.module.css
  src/lib/components/input/input.test.tsx
  src/lib/components/input/text.tsx
  src/lib/components/radioset/radioset.module.css
  src/lib/components/radioset/radioset.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: text input (#93)
  jest.config.mjs
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/docs/pages/examples/button.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/radioset.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/article/article.module.css
  src/lib/components/button/anchor.test.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
  src/lib/components/card/card.module.css
  src/lib/components/input/index.tsx
  src/lib/components/input/input.module.css
  src/lib/components/input/input.test.tsx
  src/lib/components/input/text.tsx
  src/lib/components/radioset/radioset.module.css
  src/lib/components/radioset/radioset.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  226d78c841d9e6cb4eb114422b98bad06d0315f4
Due: none

build: sandbox corrections
  src/docs/components/example.tsx
  src/docs/pages/sandbox/index.tsx
  src/docs/pages/sandbox/sandbox.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: sandbox corrections (#97)
  src/docs/components/example.tsx
  src/docs/pages/sandbox/index.tsx
  src/docs/pages/sandbox/sandbox.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: menus
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/docs/pages/examples/button-menu.tsx
  src/docs/pages/examples/button.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/menu-items.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
  src/lib/components/input/index.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.tsx
  src/lib/components/menu/input.tsx
  src/lib/components/menu/item.tsx
  src/lib/components/menu/items.tsx
  src/lib/components/menu/menu.module.css
  src/lib/hooks/color-scheme.ts
  src/lib/hooks/random-id.ts
  src/lib/index.ts
  src/lib/util/index.ts
  tsconfig-types.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: menus (#102)
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/docs/pages/examples/button-menu.tsx
  src/docs/pages/examples/button.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/menu-items.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
  src/lib/components/input/index.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.tsx
  src/lib/components/menu/input.tsx
  src/lib/components/menu/item.tsx
  src/lib/components/menu/items.tsx
  src/lib/components/menu/menu.module.css
  src/lib/hooks/color-scheme.ts
  src/lib/hooks/random-id.ts
  src/lib/index.ts
  src/lib/util/index.ts
  tsconfig-types.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  d91250dde55cfb84c487283e053d088ec985f8bd
Due: none

fix: remove useRandomId hook
  src/docs/pages/examples/menu-items.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.tsx
  src/lib/components/menu/input.tsx
  src/lib/hooks/random-id.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

fix: remove useRandomId hook (#107)
  src/docs/pages/examples/menu-items.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.tsx
  src/lib/components/menu/input.tsx
  src/lib/hooks/random-id.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  438c136d154d21a2b903bf1daf32fa1e25b5eae0
Due: none

feat: checkbox
  src/docs/pages/examples/checkbox.tsx
  src/docs/pages/examples/index.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.test.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: checkbox (#108)
  src/docs/pages/examples/checkbox.tsx
  src/docs/pages/examples/index.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.test.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  9d45d26771003ceec244feec4fc960023ef055be
Due: none

Notes added by 'git notes add'
  8a81019cb1ef175db53c852e2052f45f91196617
Due: none

fix: button icons
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
Due: eslint --ext .ts,.tsx --fix

fix: button icons (#112)
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  7fc60989ba3484793765bf9634a0290830b6fcd1
Due: none

fix: dev warnings
  src/lib/components/input/text.tsx
  src/lib/components/main/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: dev warnings (#113)
  src/lib/components/input/text.tsx
  src/lib/components/main/index.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  a4ebb5c53af8ab800822fb8b792605f7ef492556
Due: none

fix: remove article warnings
  src/lib/components/article/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: remove article warnings (#114)
  src/lib/components/article/index.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  3a862586c18eb9ffa83e6d410ec323774c033ae1
Due: none

fix: enterprise color scheme
  package.json
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

fix: enterprise color scheme (#115)
  package.json
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

Notes added by 'git notes add'
  3d5083d3c3c3d070d0315b675fc17616b2e668f9
Due: none

fix: enterprise color scheme
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

fix: enterprise color scheme (#116)
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

Notes added by 'git notes add'
  56c680ef7ae7257ad4fd97bdda4fc327273cecb5
Due: none

fix: anchor button merge with child
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/lib/components/button/anchor.tsx
Due: eslint --ext .ts,.tsx --fix

fix: anchor button merge with child (#118)
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button.tsx
  src/lib/components/button/anchor.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  71da26c63ea6aaa128bd5515f9ee33197b6c3ca9
Due: none
