Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
	"*.{css,html,js,json,md,yaml,yml}": "prettier --write",
	"*.{ts,tsx}": "eslint --ext .ts,.tsx --fix"
}

fix: input menu and text input (#153)
  .eslintrc.json
  global.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/docs/pages/examples/input-menu/index.tsx
  src/lib/components/button/button.spec.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  cc44a011a7f6e2fb4b599f334588ac1952746689
Due: none

fix: menu positioning
  package-lock.json
  package.json
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/overview/dojo.module.css
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: menu positioning (#154)
  package-lock.json
  package.json
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/overview/dojo.module.css
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  9c95adf3c2ac8a833e246130ef670ccc5c979d27
Due: none

fix: text input font size
  src/lib/components/input/input.module.css
Due: prettier --write

fix: text input font size (#155)
  src/lib/components/input/input.module.css
Due: prettier --write

Notes added by 'git notes add'
  83c31cccd36c4c6d7d89cd448c5d5a499c90f357
Due: none

feat: password input
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/button/button.spec.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/password.tsx
  src/lib/components/input/text.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: password input (#161)
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/button/button.spec.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/password.tsx
  src/lib/components/input/text.tsx
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  4e25b24ebb45df2db868287479b1604677e0bc4b
Due: none

fix: text input flex
  src/docs/style.css
  src/lib/components/input/input.module.css
  src/lib/components/menu/menu.module.css
Due: prettier --write

fix: text input flex (#162)
  src/docs/style.css
  src/lib/components/input/input.module.css
  src/lib/components/menu/menu.module.css
Due: prettier --write

Notes added by 'git notes add'
  aaf08212ad40056b7f56493d65472ed31020b6da
Due: none

fix: text input label
  src/lib/components/input/input.module.css
Due: prettier --write

fix: text input label (#163)
  src/lib/components/input/input.module.css
Due: prettier --write

Notes added by 'git notes add'
  910816627c190ee3fccc0094a769b544986ea271
Due: none

fix: appearance of disabled inputs
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/radioset/state.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: appearance of disabled inputs (#165)
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/radioset/state.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  6458cffb9a63154c9a4cff61f065ae9778a8840e
Due: none

docs: examples permalinks
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/index.tsx
  src/docs/pages/sandbox/index.tsx
  src/lib/components/card/index.tsx
  src/lib/hooks/hash-ref.ts
  src/lib/hooks/intersection-observer.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

docs: examples permalinks (#166)
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/index.tsx
  src/docs/pages/sandbox/index.tsx
  src/lib/components/card/index.tsx
  src/lib/hooks/hash-ref.ts
  src/lib/hooks/intersection-observer.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

fix: input messages
  src/docs/pages/examples/text-input/index.tsx
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: input messages (#169)
  src/docs/pages/examples/text-input/index.tsx
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  a5614863f9ccf56add8b2a8ec9d84b0dfcd9db88
Due: none

fix: checkbox messages
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: checkbox messages (#170)
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  b3a0f25daa9656de27974b418938a12d8417b147
Due: none

fix: checkbox label
  src/docs/pages/examples/checkbox/index.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: checkbox label (#172)
  src/docs/pages/examples/checkbox/index.tsx
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/checkbox/checkbox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  05fb321169028a0a5366cce1047ea104ccdb9fa9
Due: none

fix: password input rules
  playwright.d.ts
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/lib/components/input/password.tsx
  tsconfig.json
  vite.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: password input rules (#175)
  playwright.d.ts
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/lib/components/input/password.tsx
  tsconfig.json
  vite.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  6f5647e972bf1b8bdfccc54e0d13cfec38b5a068
Due: none

fix: revert password input rules
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/lib/components/input/password.tsx
  vite.d.ts
Due: eslint --ext .ts,.tsx --fix

fix: revert password input rules (#176)
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/lib/components/input/password.tsx
  vite.d.ts
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  def9b7ec80ee33fcbcbb3e2343b88411fe51d70a
Due: none

feat: dialog
  .eslintrc.json
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/dialog/index.tsx
  src/docs/pages/examples/dialog/state.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.ts
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/dialog/dialog.module.css
  src/lib/components/dialog/dialog.tsx
  src/lib/components/dialog/index.ts
  src/lib/components/menu/menu.module.css
  src/lib/hooks/hash-ref.ts
  src/lib/hooks/intersection-observer.ts
  src/lib/index.ts
  src/lib/util/index.ts
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: dialog (#183)
  .eslintrc.json
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/dialog/index.tsx
  src/docs/pages/examples/dialog/state.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/password-input/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.ts
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/dialog/dialog.module.css
  src/lib/components/dialog/dialog.tsx
  src/lib/components/dialog/index.ts
  src/lib/components/menu/menu.module.css
  src/lib/hooks/hash-ref.ts
  src/lib/hooks/intersection-observer.ts
  src/lib/index.ts
  src/lib/util/index.ts
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  a34bab524b7c50d2c80b88039f6ae343b01f6d56
Due: none
