Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6dcdf69671e09fb026523397b2349178278ba60c
Due: none

fix: add license field to package.json
  package.json
Due: prettier --write

fix: add license field to package.json (#4)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b0fd152ea0d868eb9459cc9de197650d1bc06af8
Due: none

refactor: button component with forward ref
  .eslintrc.json
  src/lib/components/button/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: button component with forward ref (#5)
  .eslintrc.json
  src/lib/components/button/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: prevent button text from wrapping
  src/lib/components/button/button.module.css
Due: prettier --write

feat: color scheme
  .lintstagedrc.json
  package.json
  src/index.html
  src/index.tsx
  src/lib/color-scheme.ts
  src/lib/components/grid/grid.test.ts
  src/lib/hooks/color-scheme.ts
  src/lib/index.ts
  src/lib/style.css
  src/lib/tsconfig.json
  src/public/favicon.svg
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: color scheme
  .lintstagedrc.json
  package.json
  src/index.html
  src/index.tsx
  src/lib/color-scheme.ts
  src/lib/components/button/button.module.css
  src/lib/components/grid/grid.test.ts
  src/lib/hooks/color-scheme.ts
  src/lib/index.ts
  src/lib/style.css
  src/lib/tsconfig.json
  src/public/favicon.svg
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  5be93107f9a31f5499248446113a943634d9b707
Due: none

fix: remove roboto font from library
  .gitignore
  package-lock.json
  package.json
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: remove roboto font from library (#19)
  .gitignore
  package-lock.json
  package.json
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  1f40b6e7058295efcdeef371b03569f6edb7b8a3
Due: none

feat: grid fill
  .env.lib
  .github/workflows/release.yml
  package.json
  src/index.tsx
  src/lib/components/button/button.module.css
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/index.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: grid fill (#20)
  .env.lib
  .github/workflows/release.yml
  package.json
  src/index.tsx
  src/lib/components/button/button.module.css
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/index.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  0b7768d15216ec9ad875f88239c76d7a2a5ec3b4
Due: none

fix: iOS sizing and color scheme
  .gitignore
  README.md
  package-lock.json
  package.json
  src/index.tsx
  src/lib/color-scheme.ts
  src/lib/components/button/button.module.css
  src/lib/components/card/card.module.css
  src/lib/components/grid/grid.module.css
  src/lib/components/typography/typography.module.css
  src/lib/hooks/color-scheme.ts
  src/lib/style.css
  src/style.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: iOS sizing and color scheme (#23)
  .gitignore
  README.md
  package-lock.json
  package.json
  src/index.tsx
  src/lib/color-scheme.ts
  src/lib/components/button/button.module.css
  src/lib/components/card/card.module.css
  src/lib/components/grid/grid.module.css
  src/lib/components/typography/typography.module.css
  src/lib/hooks/color-scheme.ts
  src/lib/style.css
  src/style.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  3acf06947335acf5b4033ee781462d9c8e0d00c7
Due: none

feat: simplified GridNav
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/docs/color-scheme.ts
  src/docs/components/icon.tsx
  src/docs/components/logo.module.css
  src/docs/components/logo.tsx
  src/docs/components/ninja.css
  src/docs/components/ninja.tsx
  src/docs/index.html
  src/docs/index.tsx
  src/docs/pages/button.mdx
  src/docs/pages/dojo/dojo.module.css
  src/docs/pages/dojo/index.tsx
  src/docs/pages/settings.tsx
  src/docs/public/dojo.png
  src/docs/public/icon.svg
  src/docs/style.css
  src/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/index.ts
  src/lib/style.css
  src/public/favicon.svg
  src/style.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: simplified GridNav (#30)
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/docs/color-scheme.ts
  src/docs/components/icon.tsx
  src/docs/components/logo.module.css
  src/docs/components/logo.tsx
  src/docs/components/ninja.css
  src/docs/components/ninja.tsx
  src/docs/index.html
  src/docs/index.tsx
  src/docs/pages/button.mdx
  src/docs/pages/dojo/dojo.module.css
  src/docs/pages/dojo/index.tsx
  src/docs/pages/settings.tsx
  src/docs/public/dojo.png
  src/docs/public/icon.svg
  src/docs/style.css
  src/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/index.ts
  src/lib/style.css
  src/public/favicon.svg
  src/style.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  c6f9c8dcf4ce63fea59aee1ee5d4531af5c19fcf
Due: none

build: website configuration
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

build: website configuration (#32)
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

chore: code analysis
  .github/workflows/analyse.yml
Due: prettier --write

chore: code analysis (#33)
  .github/workflows/analyse.yml
Due: prettier --write

chore: optimize website
  src/docs/index.html
  src/docs/pages/dojo/dojo.module.css
  src/docs/public/dojo.png
  src/docs/public/dojo.webp
Due: prettier --write

chore: optimize website (#34)
  src/docs/index.html
  src/docs/pages/dojo/dojo.module.css
  src/docs/public/dojo.png
  src/docs/public/dojo.webp
Due: prettier --write

chore: website routes
  src/docs/404.html
  src/docs/404.ts
  src/docs/color-scheme.ts
  src/docs/index.html
  src/docs/index.ts
Due: eslint --ext .ts,.tsx --fix

chore: website routes (#39)
  src/docs/404.html
  src/docs/404.ts
  src/docs/color-scheme.ts
  src/docs/index.html
  src/docs/index.ts
Due: eslint --ext .ts,.tsx --fix

chore: website routes build fix
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

chore: website routes build fix (#40)
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

chore: website font fix
  src/docs/index.ts
  src/docs/index.tsx
Due: eslint --ext .ts,.tsx --fix

chore: website font fix (#41)
  src/docs/index.ts
  src/docs/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: grid article footer
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  netlify.toml
  src/docs/404.html
  src/docs/404.ts
  src/docs/index.html
  src/docs/index.ts
  src/docs/index.tsx
  src/docs/public/manifest.json
  src/lib/components/grid/grid.module.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: grid article footer (#42)
  .github/workflows/analyse.yml
  .github/workflows/release.yml
  netlify.toml
  src/docs/404.html
  src/docs/404.ts
  src/docs/index.html
  src/docs/index.ts
  src/docs/index.tsx
  src/docs/public/manifest.json
  src/lib/components/grid/grid.module.css
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  0321970f9cef6f0e8282bebd7fd55fddb1fa4037
Due: none

docs: readme logo and badges
  README.md
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,js,json,md,yaml,yml}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
