Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

docs: readme logo and badges (#43)
  README.md
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

fix: grid header/footer alignment/spacing
  src/docs/index.tsx
  src/lib/components/grid/grid.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: grid header/footer alignment/spacing (#44)
  src/docs/index.tsx
  src/lib/components/grid/grid.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  1e0bfe5d760a845269478842407fa58079f073c6
Due: none

chore: website seo fixes
  src/docs/index.tsx
  src/docs/public/robots.txt
  src/docs/public/sitemap.txt
Due: eslint --ext .ts,.tsx --fix

chore: website seo fixes (#45)
  src/docs/index.tsx
  src/docs/public/robots.txt
  src/docs/public/sitemap.txt
Due: eslint --ext .ts,.tsx --fix

build: website pwa
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/components/reload-prompt.module.css
  src/docs/components/reload-prompt.tsx
  src/docs/head.ts
  src/docs/index.html
  src/docs/public/icon-192x192.png
  src/docs/public/icon-512x512.png
  src/docs/public/manifest.json
  src/docs/worker.ts
  src/lib/components/grid/grid.test.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: website pwa (#46)
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/components/reload-prompt.module.css
  src/docs/components/reload-prompt.tsx
  src/docs/head.ts
  src/docs/index.html
  src/docs/public/icon-192x192.png
  src/docs/public/icon-512x512.png
  src/docs/public/manifest.json
  src/docs/worker.ts
  src/lib/components/grid/grid.test.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: website pwa icon fixes
  package.json
  src/docs/index.html
  src/docs/public/favicon.svg
  src/docs/public/icon-192x192.png
  src/docs/public/icon-512x512.png
  src/docs/public/icon-monochrome-512x512.png
  src/docs/public/icon.svg
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: website pwa icon fixes (#47)
  package.json
  src/docs/index.html
  src/docs/public/favicon.svg
  src/docs/public/icon-192x192.png
  src/docs/public/icon-512x512.png
  src/docs/public/icon-monochrome-512x512.png
  src/docs/public/icon.svg
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: website redirect fixes
  netlify.toml
Due: none

build: website redirect fixes (#50)
  netlify.toml
Due: none

test: unit testing setup
  .github/workflows/test.yml
  .gitignore
  .prettierignore
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/docs/app.test.ts
  src/docs/app.tsx
  src/lib/components/grid/grid.test.ts
  src/lib/components/grid/grid.test.tsx
  src/lib/tsconfig.json
  tsconfig-lib.json
  tsconfig.json
  vite.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: unit testing setup (#51)
  .github/workflows/test.yml
  .gitignore
  .prettierignore
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/docs/app.test.ts
  src/docs/app.tsx
  src/lib/components/grid/grid.test.ts
  src/lib/components/grid/grid.test.tsx
  src/lib/tsconfig.json
  tsconfig-lib.json
  tsconfig.json
  vite.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: button gap
  package-lock.json
  package.json
  src/docs/app.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: button gap (#52)
  package-lock.json
  package.json
  src/docs/app.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  bd721af96acc54e0911422c759aafbc9ad8c6147
Due: none

feat: api alignment
  .eslintrc.json
  .github/workflows/test.yml
  jest.config.ts
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/components/example.module.css
  src/docs/components/example.tsx
  src/docs/components/ninja.tsx
  src/docs/components/reload-prompt.tsx
  src/docs/index.html
  src/docs/pages/button.mdx
  src/docs/pages/components/index.tsx
  src/docs/pages/dojo/index.tsx
  src/lib/components/button/anchor.test.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.test.tsx
  src/lib/components/button/index.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/components/typography/index.tsx
  src/lib/index.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: api alignment (#61)
  .eslintrc.json
  .github/workflows/test.yml
  jest.config.ts
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/components/example.module.css
  src/docs/components/example.tsx
  src/docs/components/ninja.tsx
  src/docs/components/reload-prompt.tsx
  src/docs/index.html
  src/docs/pages/button.mdx
  src/docs/pages/components/index.tsx
  src/docs/pages/dojo/index.tsx
  src/lib/components/button/anchor.test.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.module.css
  src/lib/components/button/button.test.tsx
  src/lib/components/button/index.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/grid/grid.module.css
  src/lib/components/grid/index.tsx
  src/lib/components/typography/index.tsx
  src/lib/index.ts
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  69bac89bc1838370eb0672eed53310993efca9dc
Due: none

fix: button display name
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: button display name (#66)
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/button/index.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  6b56ea072819c3648d4ccec7a367bd1fb8f07f19
Due: none

fix: card label
  src/docs/app.tsx
  src/docs/pages/hooks/index.tsx
  src/lib/components/card/card.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: card label (#67)
  src/docs/app.tsx
  src/docs/pages/hooks/index.tsx
  src/lib/components/card/card.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  c83859785f275b3f3fe744b63adbd1de09149ce4
Due: none

fix: color scheme head script
  .vscode/ninjakit.code-workspace
  package.json
  src/lib/head/color-scheme.ts
  src/lib/head/tsconfig.json
  tsconfig-types.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: color scheme head script (#69)
  .vscode/ninjakit.code-workspace
  package.json
  src/lib/head/color-scheme.ts
  src/lib/head/tsconfig.json
  tsconfig-types.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  edacd7b698bfa1204e4105659ea68d765e124bbe
Due: none

chore: website example height fix
  src/docs/components/example.module.css
Due: prettier --write

Notes added by 'git notes add'
  6e1756698da5160e24034d99cb585ea2d3f55ec6
Due: none

fix: color-scheme
  package.json
Due: prettier --write

fix: color-scheme (#83)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ceea9d314de24c5918f1889473c8005e45001e9a
Due: none

fix: export ColorScheme type
  src/lib/hooks/color-scheme.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

fix: export ColorScheme type (#84)
  src/lib/hooks/color-scheme.ts
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  2842562143761d7999e58a7755c65589104f265c
Due: none

fix: radioset
  src/docs/app.tsx
  src/docs/pages/examples/color-scheme.tsx
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/radioset.tsx
  src/lib/components/radioset/index.tsx
  src/lib/components/radioset/radioset.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: any of: *.{css,html,js,json,md,yaml,yml}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
