Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

build: dependencies (#286)
  .npm-upgrade.json
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: menu change events
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
  src/lib/util/index.ts
Due: eslint --ext .ts,.tsx --fix

fix: menu change events (#288)
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/password-input/state.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
  src/lib/util/index.ts
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  31a4889313b15de24268bfad41046c392d696202
Due: none

fix: button menu on change
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/menu.tsx
Due: eslint --ext .ts,.tsx --fix

fix: button menu on change (#289)
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/menu.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  96b5cf46fba8521e51029f92e9ed625633eb23a6
Due: none

fix: button menu click handler
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: eslint --ext .ts,.tsx --fix

fix: button menu click handler (#290)
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  e03666de7550c27fca7c839f47b04a95f942b071
Due: none

fix: menu option type export
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

fix: menu option type export (#291)
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
  src/lib/index.ts
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  4634a8ef67b12e1d675dc49f2e3c729c1505c2d1
Due: none

feat: alert
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/alert.tsx
  src/docs/pages/examples/index.tsx
  src/lib/color-scheme/default.css
  src/lib/color-scheme/enterprise.css
  src/lib/components/alert/alert.module.css
  src/lib/components/alert/alert.tsx
  src/lib/components/alert/icon.tsx
  src/lib/components/alert/index.ts
  src/lib/components/alert/progress-bar/index.tsx
  src/lib/components/alert/progress-bar/progress-bar.module.css
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: alert (#318)
  package-lock.json
  package.json
  src/docs/app.tsx
  src/docs/pages/examples/alert.tsx
  src/docs/pages/examples/index.tsx
  src/lib/color-scheme/default.css
  src/lib/color-scheme/enterprise.css
  src/lib/components/alert/alert.module.css
  src/lib/components/alert/alert.tsx
  src/lib/components/alert/icon.tsx
  src/lib/components/alert/index.ts
  src/lib/components/alert/progress-bar/index.tsx
  src/lib/components/alert/progress-bar/progress-bar.module.css
  src/lib/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  dff2245d398cbcc5853ad72506fe5b9d067d1a27
Due: none

fix: menu SSR
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
Due: eslint --ext .ts,.tsx --fix

fix: menu SSR (#319)
  src/lib/components/menu/button.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  3e61a97d0bb2b54a1c5f1992c269a04b1a49a217
Due: none

build: vite config
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

build: vite config (#320)
  vite.config.ts
Due: eslint --ext .ts,.tsx --fix

fix: alert SSR
  src/lib/components/alert/alert.tsx
Due: eslint --ext .ts,.tsx --fix

fix: alert SSR (#323)
  src/lib/components/alert/alert.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  b5aca3b5f8472eba3c6cf26b0731dd94f95a8902
Due: none

chore: remove npm-upgrade
  package-lock.json
  package.json
Due: prettier --write

chore: remove npm-upgrade (#350)
  package-lock.json
  package.json
Due: prettier --write

fix: menu options z-index (#402)
  src/lib/components/menu/button.tsx
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: menu options z-index (#402) (#404)
  src/lib/components/menu/button.tsx
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.module.css
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  43987ba26c5e478a471a5b39030417cbe73b33b9
Due: none

build(deps-dev): bump vite from 3.09 to 3.1.4
  package-lock.json
  package.json
  src/docs/index.html
Due: prettier --write

build(deps-dev): bump vite from 3.09 to 3.1.4 (#569)
  package-lock.json
  package.json
  src/docs/index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,html,js,json,md,yaml,yml}
  eslint --ext .ts,.tsx --fix: any of: *.{ts,tsx}
