Repository ninja/ninjakit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts,.tsx --fix

.lintstagedrc.json:

{
	"*.{css,html,js,json,md,yaml,yml}": "prettier --write",
	"*.{ts,tsx}": "eslint --ext .ts,.tsx --fix"
}

fix: enterprise color scheme
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

fix: enterprise color scheme (#119)
  src/lib/color-scheme/enterprise.css
  src/lib/color-scheme/tokens/enterprise.json
Due: prettier --write

Notes added by 'git notes add'
  067162188f55b57efde14dbf8789d04c1ee3e9b3
Due: none

fix: color tokens
  src/lib/components/header/header.module.css
  src/lib/components/input/input.module.css
  src/lib/components/nav/nav.module.css
Due: prettier --write

fix: color tokens (#120)
  src/lib/components/header/header.module.css
  src/lib/components/input/input.module.css
  src/lib/components/nav/nav.module.css
Due: prettier --write

Notes added by 'git notes add'
  503f573bb0cb82f5fe0983462277a59e3423e6f3
Due: none

fix: text input autofill
  src/lib/components/input/input.module.css
Due: prettier --write

fix: text input autofill (#125)
  src/lib/components/input/input.module.css
Due: prettier --write

Notes added by 'git notes add'
  c864e7d04e42b2c20da9facf1de39f236bb2cd2b
Due: none

fix: text input trailing button
  src/lib/components/input/text.tsx
Due: eslint --ext .ts,.tsx --fix

fix: text input trailing button (#126)
  src/lib/components/input/text.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  2ed6e33d4bcd25ee2e51169ff05bd20c0c801bee
Due: none

fix: header background color
  src/lib/components/header/header.module.css
Due: prettier --write

fix: header background color (#127)
  src/lib/components/header/header.module.css
Due: prettier --write

Notes added by 'git notes add'
  6ac333b4a3889ec203284ce3e52c44879376de6e
Due: none

fix: typography
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/typography/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: typography (#129)
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/typography/index.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  dddf3425ab3625a88ca939f6276603c18e1474d4
Due: none

fix: text input refactor
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/card/card.module.css
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/input.test.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: text input refactor (#132)
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/card/card.module.css
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/input.test.tsx
  src/lib/components/input/text.tsx
  src/lib/components/menu/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  ab5c1d20314bcec2ac73b8402d9a5f364853c35c
Due: none

fix: text input flex
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/text-input-state.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: text input flex (#133)
  src/docs/pages/examples/input-menu.tsx
  src/docs/pages/examples/text-input-state.tsx
  src/docs/pages/examples/text-input.tsx
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  088fde71992c5086b60631e8f6b93ffc6e52b1f5
Due: none

Notes added by 'git notes add'
  ea51a52652125fb9500257402edb12a39e1473a8
Due: none

fix: checkbox label and state
  src/docs/pages/examples/checkbox.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.tsx
Due: eslint --ext .ts,.tsx --fix

fix: checkbox label and state (#142)
  src/docs/pages/examples/checkbox.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.tsx
Due: eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  aa793d603880181d42f6eadf4aa581e900c1b35f
Due: none

fix: radioset state
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/radioset.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/radioset/state.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/card/card.module.css
  src/lib/components/radioset/radioset.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: radioset state (#143)
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/radioset.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/radioset/state.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/docs/pages/examples/typography.tsx
  src/lib/components/card/card.module.css
  src/lib/components/radioset/radioset.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  e0c0f67254b116b842e502a0960d1bdd92b4e368
Due: none

fix: card layout
  src/docs/components/icon.tsx
  src/docs/components/logo.tsx
  src/docs/components/ninja.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/color-scheme.tsx
  src/docs/pages/examples/examples.module.css
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/index.tsx
  src/docs/pages/sandbox/index.tsx
  src/lib/components/article/index.tsx
  src/lib/components/aside/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/floating-action-button/floating-action-button.tsx
  src/lib/components/floating-action-button/index.ts
  src/lib/components/footer/index.tsx
  src/lib/components/header/index.tsx
  src/lib/components/main/index.tsx
  src/lib/components/menu/menu.tsx
  src/lib/components/nav/index.tsx
  src/lib/components/radioset/radioset.tsx
  src/lib/components/typography/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: card layout (#144)
  src/docs/components/icon.tsx
  src/docs/components/logo.tsx
  src/docs/components/ninja.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/anchor-button/state.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button-menu/state.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/checkbox/state.tsx
  src/docs/pages/examples/color-scheme.tsx
  src/docs/pages/examples/examples.module.css
  src/docs/pages/examples/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/input-menu/state.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/text-input/state.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/index.tsx
  src/docs/pages/sandbox/index.tsx
  src/lib/components/article/index.tsx
  src/lib/components/aside/index.tsx
  src/lib/components/button/anchor.tsx
  src/lib/components/button/button.tsx
  src/lib/components/card/card.module.css
  src/lib/components/card/index.tsx
  src/lib/components/checkbox/checkbox.tsx
  src/lib/components/checkbox/index.ts
  src/lib/components/floating-action-button/floating-action-button.tsx
  src/lib/components/floating-action-button/index.ts
  src/lib/components/footer/index.tsx
  src/lib/components/header/index.tsx
  src/lib/components/main/index.tsx
  src/lib/components/menu/menu.tsx
  src/lib/components/nav/index.tsx
  src/lib/components/radioset/radioset.tsx
  src/lib/components/typography/index.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  b6ca7486258ba5a0109cfcc9e87358266221f6b3
Due: none

fix: button transition duration
  .github/workflows/test.yml
  .gitignore
  global.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  playwright.setup.ts
  src/docs/app.test.ts
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/dojo.module.css
  src/lib/color-scheme/computed.ts
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/button.module.css
  src/lib/components/button/button.spec.ts
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/input/input.module.css
  src/lib/components/main/main.module.css
  src/lib/components/menu/menu.module.css
  src/lib/components/nav/nav.module.css
  src/lib/components/radioset/radioset.module.css
  src/lib/style.css
  src/lib/test.ts
  tsconfig-types.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: button transition duration (#152)
  .github/workflows/test.yml
  .gitignore
  global.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  playwright.setup.ts
  src/docs/app.test.ts
  src/docs/app.tsx
  src/docs/pages/examples/anchor-button/index.tsx
  src/docs/pages/examples/button-menu/index.tsx
  src/docs/pages/examples/button/index.tsx
  src/docs/pages/examples/button/state.tsx
  src/docs/pages/examples/checkbox/index.tsx
  src/docs/pages/examples/input-menu/index.tsx
  src/docs/pages/examples/radioset/index.tsx
  src/docs/pages/examples/text-input/index.tsx
  src/docs/pages/examples/typography.tsx
  src/docs/pages/overview/dojo.module.css
  src/lib/color-scheme/computed.ts
  src/lib/components/article/article.module.css
  src/lib/components/aside/aside.module.css
  src/lib/components/button/button.module.css
  src/lib/components/button/button.spec.ts
  src/lib/components/checkbox/checkbox.module.css
  src/lib/components/floating-action-button/floating-action-button.module.css
  src/lib/components/input/input.module.css
  src/lib/components/main/main.module.css
  src/lib/components/menu/menu.module.css
  src/lib/components/nav/nav.module.css
  src/lib/components/radioset/radioset.module.css
  src/lib/style.css
  src/lib/test.ts
  tsconfig-types.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts,.tsx --fix

Notes added by 'git notes add'
  56af62b5665be34c861e8a8532745aac66c20425
Due: none

fix: input menu and text input
  .eslintrc.json
  global.d.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/docs/pages/examples/input-menu/index.tsx
  src/lib/components/button/button.spec.ts
  src/lib/components/input/index.ts
  src/lib/components/input/input.module.css
  src/lib/components/input/text.tsx
  src/lib/components/menu/index.ts
  src/lib/components/menu/input.tsx
  src/lib/components/menu/menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
